.btn{
  border: none;
  padding: .625rem 1.25rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: .5rem;
  transition: background-color 0.3s ease;
  color: white;
}

.addTaskBtn {
  background-color: white;
  color: #333;
}

.addTaskBtn:hover {
  background-color: #e9f3ff;
  color: #333;
}

.deleteBtn {
  background-color: #e74c3c;
}

.deleteBtn:hover {
  background-color: #c0392b;
}

.editBtn{
  background-color: #f7bb07;
  color: #080808;
}
.editBtn:hover{
  background-color: #dfa908;

}
.cancelBtn{
  background-color: #080808;
}
